@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: "Karla", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 99.5vh;
}

h1 {
    display: flex;
    justify-content: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: 600;
    font-size: 50px;
}

main .container {
    display: flex;
    border-radius: 25px;
    width: 1080px;
    height: 700px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

main .color {
    flex: 2;
    background-color: #ffffff;
    border-radius: 25px 0px 0px 25px;
}

main .grid {
    flex: 6;
    background-color: #ffffff;
    border-left: 2px black solid;
    
}

main .markup {
    flex: 1.25;
    background-color: #ffffff;
    border-radius: 0px 25px 25px 0px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}